html {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    line-height: 1;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

hr {
    border: 0;
    border-top: 1px solid var(--mdc-theme-primary-border-color);
}

a {
    text-decoration: none;
    color: var(--mdc-theme-primary);
    outline: 0 !important;
    cursor: pointer;
}

.material-icons {
    font-family: 'Material Icons';
}

.header-menu a {
    margin-right: 10px;
}

pre {
    font-family: 'Cousine', monospace;
    background-color: #f6f6f6;
    border-radius: 6px;
    overflow: auto;
    padding: 16px;
}

pre span {
    line-height: 1.3;
}

.sample {
    border: 1px dashed #d0d1d1;
    border-radius: 6px;
    overflow: auto;
    padding: 16px;
}

form {
    width: 400px;
}

.menu {
    padding: 200px 0 0 30px;
}

.menu div {
    padding: 4px 0;
}

.caution {
    background-color: darkred;
    border-radius: 6px;
    color: white;
    text-transform: uppercase;
    padding: 16px;
}

#app-drawer {
    position: initial;
}

h4 {
    margin: 2rem 0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.support {
    background-color: #f8f8f8;
    border-radius: 5px;
    color: #898989;
    padding: 20px;
    line-height: 1.3;
    margin-top: 2rem;
    height: 100%;
    width: 400px;
}

.list-components {
    padding-top: 20px;
}

.list-components div {
    padding: 4px 0;
}

.list-components .name {
    display: inline-block;
    width: 150px;
    font-weight: 700;
}

.list-components .done {
    color: rgb(73, 151, 125);
}

.list-components .not_yet {
    color: rgb(168, 168, 168);
}

.list-components .dev {
    color: rgb(146, 110, 44);
}