html {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    line-height: 1;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

hr {
    border: 0;
    border-top: 1px solid var(--mdc-theme-primary-border-color);
}

a {
    text-decoration: none;
    color: var(--mdc-theme-primary);
    outline: 0 !important;
    cursor: pointer;
}

.header-menu a {
    margin-right: 10px;
}

pre {
    font-family: 'Cousine', monospace;
    background-color: #f6f8fa;
    border-radius: 6px;
    overflow: auto;
    padding: 16px;
}

form,
.sample {
    border: 1px dashed #d0d1d1;
    border-radius: 6px;
    overflow: auto;
    padding: 16px;
}

form {
    width: 500px;
}

#sample-snackbar {
    position: initial;
}
