<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./../../dist/mdc/material-components-web.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="./../../dist/mdc/material-components-web.min.css">
    <link rel="stylesheet" href="./../../src/site.css">
    <link href="https://fonts.googleapis.com/css2?family=Cousine:wght@400;700&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,200;1,300;1,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet">
    <title>YH Projects</title>
</head>

<body>
    <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell--span-2">
                <div class="menu">
                    <div><a href="./form.html">Form</a></div>
                    <div><a href="./button.html">Button</a></div>
                    <div><a href="./checkbox.html">Checkbox</a></div>
                    <div><a href="./collapse.html"><b>Collapse</b></a></div>
                    <div><a href="./collapse-search.html">Collapse search</a></div>
                    <div><a href="./data-table.html">Data table</a></div>
                    <div><a href="./drawer.html">Drawer</a></div>
                    <div><a href="./grid.html">Grid</a></div>
                    <div><a href="./icon-button.html">Icon button</a></div>
                    <div><a href="">Form</a></div>
                    <div><a href="">Form</a></div>
                    <div><a href="">Form</a></div>
                    <div><a href="">Form</a></div>
                    <div><a href="">Form</a></div>
                    <div><a href="">Form</a></div>
                    <div><a href="">Form</a></div>
                    <div><a href="">Form</a></div>
                    <div><a href="">Form</a></div>
                    <div><a href="">Form</a></div>
                </div>
            </div>
            <div class="mdc-layout-grid__cell--span-8">
                <h4 class="mdc-typography--headline4">
                    Projects
                    <div>
                        <a href="https://github.com/youra-h?tab=repositories" class="mdc-typography--subtitle2">
                            github.com/youra-h
                        </a>
                    </div>
                </h4>

                <div class="header-menu">
                    <a href="" class="mdc-typography--body "><b>Yii2 MDC</b></a>
                </div>
                <hr>

                <h6 class="mdc-typography--headline6">
                    Collapse
                    <div class="mdc-typography--subtitle2">
                        <a href="https://github.com/youra-h/yii2-material-design-components/blob/master/src/components/Collapse.php">
                            @see PHP class
                        </a>
                    </div>
                    <div class="mdc-typography--subtitle2">
                        <a href="https://github.com/youra-h/MDC-web-template/tree/master/components/collapse">
                            @see JavaScript
                        </a>
                    </div>
                    <div class="mdc-typography--subtitle2">
                        <a href="https://github.com/material-components/material-components-web/tree/master/packages/mdc-list">
                            @see Google package
                        </a>
                    </div>
                </h6>

                <p class="mdc-typography--caption">PHP</p>

                <pre class="php" style="font-family:monospace;"><span style="color: #000000; font-weight: bold;">use</span> yh\mdc\components\Collapse<span style="color: #339933;">;</span>
&nbsp;
<span style="color: #b1b100;">echo</span> Collapse<span style="color: #339933;">::</span><span style="color: #004000;">one</span><span style="color: #009900;">&#40;</span><span style="color: #009900;">&#91;</span>
    <span style="color: #0000ff;">'items'</span> <span style="color: #339933;">=&gt;</span> <span style="color: #009900;">&#91;</span>
        <span style="color: #009900;">&#91;</span>
            <span style="color: #0000ff;">'text'</span> <span style="color: #339933;">=&gt;</span> <span style="color: #0000ff;">'Group1'</span><span style="color: #339933;">,</span>
            <span style="color: #0000ff;">'selected'</span> <span style="color: #339933;">=&gt;</span> <span style="color: #009900; font-weight: bold;">true</span><span style="color: #339933;">,</span>
            <span style="color: #0000ff;">'content'</span> <span style="color: #339933;">=&gt;</span> <span style="color: #009900;">&#91;</span>
                <span style="color: #0000ff;">'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. '</span>
            <span style="color: #009900;">&#93;</span><span style="color: #339933;">,</span>
        <span style="color: #009900;">&#93;</span><span style="color: #339933;">,</span>
        <span style="color: #009900;">&#91;</span>
            <span style="color: #0000ff;">'text'</span> <span style="color: #339933;">=&gt;</span> <span style="color: #0000ff;">'Group2'</span><span style="color: #339933;">,</span>
            <span style="color: #0000ff;">'selected'</span> <span style="color: #339933;">=&gt;</span> <span style="color: #009900; font-weight: bold;">true</span><span style="color: #339933;">,</span>
            <span style="color: #0000ff;">'content'</span> <span style="color: #339933;">=&gt;</span> <span style="color: #009900;">&#91;</span>
                    <span style="color: #0000ff;">'Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc.'</span>
            <span style="color: #009900;">&#93;</span>
        <span style="color: #009900;">&#93;</span><span style="color: #339933;">,</span>
        <span style="color: #009900;">&#91;</span>
            <span style="color: #0000ff;">'text'</span> <span style="color: #339933;">=&gt;</span> <span style="color: #0000ff;">'Group3'</span><span style="color: #339933;">,</span>            
            <span style="color: #0000ff;">'content'</span> <span style="color: #339933;">=&gt;</span> <span style="color: #009900;">&#91;</span>
                <span style="color: #0000ff;">'Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc.'</span>
            <span style="color: #009900;">&#93;</span>
        <span style="color: #009900;">&#93;</span><span style="color: #339933;">,</span>
    <span style="color: #009900;">&#93;</span>
<span style="color: #009900;">&#93;</span><span style="color: #009900;">&#41;</span>
<span style="color: #339933;">-&gt;</span><span style="color: #004000;">setId</span><span style="color: #009900;">&#40;</span><span style="color: #0000ff;">'filter'</span><span style="color: #009900;">&#41;</span>
<span style="color: #339933;">-&gt;</span><span style="color: #004000;">render</span><span style="color: #009900;">&#40;</span><span style="color: #009900;">&#41;</span><span style="color: #339933;">;</span></pre>


                <p class="mdc-typography--caption">JavaScript</p>

<pre class="javascript" style="font-family:monospace;">app.<span style="color: #660066;">controls</span>.<span style="color: #660066;">item</span><span style="color: #009900;">&#40;</span><span style="color: #3366CC;">'filter'</span><span style="color: #009900;">&#41;</span>.<span style="color: #660066;">expand</span><span style="color: #009900;">&#40;</span><span style="color: #CC0000;">1</span><span style="color: #009900;">&#41;</span><span style="color: #339933;">;</span></pre>

                <p class="mdc-typography--caption">Samples</p>

                <div class="sample">
                    <div id="filter" class="mdc-collapse mdc-list-group">
                        <ul class="mdc-list mdc-h__small mdc-fs__small">
                            <li id="filter-item0"
                                class="mdc-list-item mdc-collapse__header-active mdc-list-item__collapse mdc-collapse__header"
                                aria-selected="true" role="tab" aria-controls="filter-content0" aria-expanded="true" tabindex="-1"><span
                                    class="mdc-list-item__ripple"></span><span class="mdc-list-item__graphic material-icons"
                                    aria-hidden="true">unfold_less</span><span class="mdc-list-item__text">Group1</span></li>
                            <li id="filter-content0"
                                class="mdc-collapse__content mdc-collapse__content-open mdc-collapse__content-activated" role="tab"
                                aria-hidden="true">
                                <p class="mdc-typography--body1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                                    ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                                    ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
                                    massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo,
                                    rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer
                                    tincidunt. Cras dapibus. </p>
                            </li>
                            <li id="filter-item1"
                                class="mdc-list-item mdc-collapse__header-active mdc-list-item__collapse mdc-collapse__header"
                                aria-selected="true" role="tab" aria-controls="filter-content1" aria-expanded="true" tabindex="-1"><span
                                    class="mdc-list-item__ripple"></span><span class="mdc-list-item__graphic material-icons"
                                    aria-hidden="true">unfold_less</span><span class="mdc-list-item__text">Group2</span></li>
                            <li id="filter-content1"
                                class="mdc-collapse__content mdc-collapse__content-open mdc-collapse__content-activated" role="tab"
                                aria-hidden="true">
                                <p class="mdc-typography--body1">Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo
                                    ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis,
                                    feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet.
                                    Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus.
                                    Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque
                                    sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante
                                    tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci
                                    eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis
                                    magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc.</p>
                            </li>
                            <li id="filter-item2" class="mdc-list-item mdc-list-item__collapse mdc-collapse__header" role="tab"
                                aria-controls="filter-content2" aria-expanded="false" tabindex="0" aria-selected="false"><span
                                    class="mdc-list-item__ripple"></span><span class="mdc-list-item__graphic material-icons"
                                    aria-hidden="true">unfold_more</span><span class="mdc-list-item__text">Group3</span></li>
                            <li id="filter-content2" class="mdc-collapse__content" role="tab" aria-hidden="true">
                                <p class="mdc-typography--body1">Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo
                                    ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis,
                                    feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet.
                                    Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus.
                                    Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque
                                    sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante
                                    tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci
                                    eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis
                                    magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc.</p>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="mdc-layout-grid__cell--span-2">
            </div>
        </div>
    </div>

</body>


<script>
    app.controls.add('filter','collapse',[]);

    setTimeout(() => {
        app.controls.item('filter').expand(1);
    }, 2500);
</script>

</html>