<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./../../dist/mdc/material-components-web.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="./../../dist/mdc/material-components-web.min.css">
    <link rel="stylesheet" href="./../../src/site.css">
    <link href="https://fonts.googleapis.com/css2?family=Cousine:wght@400;700&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,200;1,300;1,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
    <title>YH Projects</title>
</head>

<body>
    <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell--span-2">
                <div class="menu">
                    <div><a href="./form.html">Form</a></div>
                    <div><a href="./button.html">Button</a></div>
                    <div><a href="./checkbox.html">Checkbox</a></div>
                    <div><a href="./collapse.html">Collapse</a></div>
                    <div><a href="./collapse-search.html">Collapse search</a></div>
                    <div><a href="./data-table.html">Data table</a></div>
                    <div><a href="./drawer.html">Drawer</a></div>
                    <div><a href="./grid.html">Grid</a></div>
                    <div><a href="./icon-button.html">Icon button</a></div>
                    <div><a href="./left-app-bar.html">Left app bar</a></div>
                    <div><a href="./linear-progress.html">Linear progress</a></div>
                    <div><a href="./list-item.html">List item</a></div>
                    <div><a href="./menu.html">Menu</a></div>
                    <div><a href="./radio.html">Radio</a></div>
                    <div><a href="./select.html">Select</a></div>
                    <div><a href="./snackbar.html">SnackBar</a></div>
                    <div><a href="./spinner.html"><b>Spinner</b></a></div>
                    <div><a href="./textfield.html">Textfield</a></div>
                    <div><a href="./typography.html">Typography</a></div>
                </div>
            </div>
            <div class="mdc-layout-grid__cell--span-8">
                <h4 class="mdc-typography--headline4">
                    Projects
                    <div>
                        <a href="https://github.com/youra-h?tab=repositories" class="mdc-typography--subtitle2">
                            github.com/youra-h
                        </a>
                    </div>
                </h4>

                <div class="header-menu">
                    <a href="" class="mdc-typography--body "><b>Yii2 MDC</b></a>
                </div>
                <hr>

                <h6 class="mdc-typography--headline6">
                    Spinner
                    <div class="mdc-typography--subtitle2">
                        <a href="https://github.com/youra-h/yii2-material-design-components/blob/master/src/components/Spinner.php">
                            @see PHP class
                        </a>
                    </div>
                    <div class="mdc-typography--subtitle2">
                        <a href="https://github.com/youra-h/MDC-web-template/tree/master/components/spinner">
                            @see JavaScript
                        </a>
                    </div>                    
                </h6>

                <p class="mdc-typography--caption">PHP</p>

<pre class="php" style="font-family:monospace;"><span style="color: #000000; font-weight: bold;">use</span> yh\mdc\components\Spinner<span style="color: #339933;">;</span>
&nbsp;
<span style="color: #b1b100;">echo</span> Spinner<span style="color: #339933;">::</span><span style="color: #004000;">one</span><span style="color: #009900;">&#40;</span><span style="color: #009900;">&#91;</span><span style="color: #0000ff;">'size'</span> <span style="color: #339933;">=&gt;</span> Spinner<span style="color: #339933;">::</span><span style="color: #004000;">EXSMALL</span><span style="color: #009900;">&#93;</span><span style="color: #009900;">&#41;</span>
    <span style="color: #339933;">-&gt;</span><span style="color: #004000;">setId</span><span style="color: #009900;">&#40;</span><span style="color: #0000ff;">'spinner1'</span><span style="color: #009900;">&#41;</span>
    <span style="color: #339933;">-&gt;</span><span style="color: #004000;">render</span><span style="color: #009900;">&#40;</span><span style="color: #009900;">&#41;</span><span style="color: #339933;">;</span>
<span style="color: #b1b100;">echo</span> <span style="color: #0000ff;">'&lt;br&gt;'</span><span style="color: #339933;">;</span>
<span style="color: #b1b100;">echo</span> Spinner<span style="color: #339933;">::</span><span style="color: #004000;">one</span><span style="color: #009900;">&#40;</span><span style="color: #009900;">&#91;</span><span style="color: #0000ff;">'size'</span> <span style="color: #339933;">=&gt;</span> Spinner<span style="color: #339933;">::</span><span style="color: #004000;">SMALL</span><span style="color: #009900;">&#93;</span><span style="color: #009900;">&#41;</span>
    <span style="color: #339933;">-&gt;</span><span style="color: #004000;">setId</span><span style="color: #009900;">&#40;</span><span style="color: #0000ff;">'spinner2'</span><span style="color: #009900;">&#41;</span>
    <span style="color: #339933;">-&gt;</span><span style="color: #004000;">render</span><span style="color: #009900;">&#40;</span><span style="color: #009900;">&#41;</span><span style="color: #339933;">;</span>
<span style="color: #b1b100;">echo</span> <span style="color: #0000ff;">'&lt;br&gt;'</span><span style="color: #339933;">;</span>
<span style="color: #b1b100;">echo</span> Spinner<span style="color: #339933;">::</span><span style="color: #004000;">one</span><span style="color: #009900;">&#40;</span><span style="color: #009900;">&#91;</span><span style="color: #0000ff;">'size'</span> <span style="color: #339933;">=&gt;</span> Spinner<span style="color: #339933;">::</span><span style="color: #004000;">MEDIUM</span><span style="color: #339933;">,</span> <span style="color: #0000ff;">'enabled'</span> <span style="color: #339933;">=&gt;</span> <span style="color: #009900; font-weight: bold;">true</span><span style="color: #009900;">&#93;</span><span style="color: #009900;">&#41;</span>
    <span style="color: #339933;">-&gt;</span><span style="color: #004000;">setId</span><span style="color: #009900;">&#40;</span><span style="color: #0000ff;">'spinner3'</span><span style="color: #009900;">&#41;</span>
    <span style="color: #339933;">-&gt;</span><span style="color: #004000;">render</span><span style="color: #009900;">&#40;</span><span style="color: #009900;">&#41;</span><span style="color: #339933;">;</span>
<span style="color: #b1b100;">echo</span> <span style="color: #0000ff;">'&lt;br&gt;'</span><span style="color: #339933;">;</span>
<span style="color: #b1b100;">echo</span> Spinner<span style="color: #339933;">::</span><span style="color: #004000;">one</span><span style="color: #009900;">&#40;</span><span style="color: #009900;">&#91;</span><span style="color: #0000ff;">'size'</span> <span style="color: #339933;">=&gt;</span> Spinner<span style="color: #339933;">::</span><span style="color: #004000;">LARGE</span><span style="color: #339933;">,</span> <span style="color: #0000ff;">'enabled'</span> <span style="color: #339933;">=&gt;</span> <span style="color: #009900; font-weight: bold;">true</span><span style="color: #009900;">&#93;</span><span style="color: #009900;">&#41;</span>
    <span style="color: #339933;">-&gt;</span><span style="color: #004000;">setId</span><span style="color: #009900;">&#40;</span><span style="color: #0000ff;">'spinner4'</span><span style="color: #009900;">&#41;</span>
    <span style="color: #339933;">-&gt;</span><span style="color: #004000;">render</span><span style="color: #009900;">&#40;</span><span style="color: #009900;">&#41;</span><span style="color: #339933;">;</span></pre>


                <p class="mdc-typography--caption">JavaScript</p>
<pre class="javascript" style="font-family:monospace;">app.<span style="color: #660066;">controls</span>.<span style="color: #660066;">add</span><span style="color: #009900;">&#40;</span><span style="color: #3366CC;">'spinner1'</span><span style="color: #339933;">,</span> <span style="color: #3366CC;">'spinner'</span><span style="color: #339933;">,</span> <span style="color: #009900;">&#91;</span><span style="color: #009900;">&#93;</span><span style="color: #009900;">&#41;</span><span style="color: #339933;">;</span>
app.<span style="color: #660066;">controls</span>.<span style="color: #660066;">add</span><span style="color: #009900;">&#40;</span><span style="color: #3366CC;">'spinner2'</span><span style="color: #339933;">,</span> <span style="color: #3366CC;">'spinner'</span><span style="color: #339933;">,</span> <span style="color: #009900;">&#91;</span><span style="color: #009900;">&#93;</span><span style="color: #009900;">&#41;</span><span style="color: #339933;">;</span>
app.<span style="color: #660066;">controls</span>.<span style="color: #660066;">add</span><span style="color: #009900;">&#40;</span><span style="color: #3366CC;">'spinner3'</span><span style="color: #339933;">,</span> <span style="color: #3366CC;">'spinner'</span><span style="color: #339933;">,</span> <span style="color: #009900;">&#91;</span><span style="color: #009900;">&#93;</span><span style="color: #009900;">&#41;</span><span style="color: #339933;">;</span>
app.<span style="color: #660066;">controls</span>.<span style="color: #660066;">add</span><span style="color: #009900;">&#40;</span><span style="color: #3366CC;">'spinner4'</span><span style="color: #339933;">,</span> <span style="color: #3366CC;">'spinner'</span><span style="color: #339933;">,</span> <span style="color: #009900;">&#91;</span><span style="color: #009900;">&#93;</span><span style="color: #009900;">&#41;</span><span style="color: #339933;">;</span>
&nbsp;
app.<span style="color: #660066;">controls</span>.<span style="color: #660066;">item</span><span style="color: #009900;">&#40;</span><span style="color: #3366CC;">&quot;spinner1&quot;</span><span style="color: #009900;">&#41;</span>.<span style="color: #660066;">show</span><span style="color: #009900;">&#40;</span><span style="color: #009900;">&#41;</span><span style="color: #339933;">;</span>
app.<span style="color: #660066;">controls</span>.<span style="color: #660066;">item</span><span style="color: #009900;">&#40;</span><span style="color: #3366CC;">&quot;spinner2&quot;</span><span style="color: #009900;">&#41;</span>.<span style="color: #660066;">show</span><span style="color: #009900;">&#40;</span><span style="color: #009900;">&#41;</span><span style="color: #339933;">;</span></pre>


                <p class="mdc-typography--caption">Samples</p>

                <div class="sample">
<div class="wrapper ">

    <span id="spinner1"
        class="mdc-spinner mdc-spinner-extra-small mdc-spinner--show mdc-spinner--show__visible"></span><br><span
        id="spinner2"
        class="mdc-spinner mdc-spinner-small mdc-spinner--show mdc-spinner--show__visible"></span><br><span
        id="spinner3"
        class="mdc-spinner mdc-spinner-medium mdc-spinner--show mdc-spinner--show__visible"></span><br><span
        id="spinner4" class="mdc-spinner mdc-spinner-large mdc-spinner--show mdc-spinner--show__visible"></span>

</div>
                </div>

            </div>
            <div class="mdc-layout-grid__cell--span-2">
            </div>
        </div>
    </div>

</body>

<script>

</script>

</html>